* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --primary: #ffd700;
  --bg: #000000;
}

html {
  scroll-behavior: smooth;
  /* padding: 0 1rem; */
}

body {
  font-family: "Montserrat", sans-serif;
  /* height: 5000px; */
}

/* .kufi {
  display: flex;
  justify-content: center;

  margin: 1rem 5% -2rem;
  font-size: 1.5rem;
  color: var(--bg);

  top: 0;
  left: 0;
  right: 0;
} */

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  padding: 0 24px;
  margin: 3rem 5% 1rem;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 9999; */
  /* border-bottom: 1px solid #513c28; */
  /* background-color: blue; */
}

.nav-branding {
  font-weight: 700;
  font-size: 2.5rem;
  /* font-size: clamp (1.7rem, 5vw, 5rem); */
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
  color: var(--bg);
}

.nav-branding span {
  color: #ffd700;
}

.navbar ul li {
  display: inline-block;
  margin: 0 2.5rem;
  padding: 1rem 0;
  position: relative;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(114, 111, 111);
  text-transform: uppercase;
  font-weight: 500;
  /* mix-blend-mode: difference; */
}

.navbar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: #ffd700;
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--bg);
}

/* main-section */

.main-section {
  display: flex;
  /* background-color: #ffd700; */
}

.main-section-img {
  /* background-color: #ffd700; */
  padding-top: 2rem;
  padding-left: 2rem;
}

.first-photo {
  width: 100%;
  height: 70%;
  object-fit: contain;
  padding-top: 2rem;
  /* background-color: antiquewhite; */
  -webkit-transform: rotate(5deg);
}

.main-section-text {
  padding: 5rem 5% 0;
  /* background-color: blueviolet; */
}

.main-section-text p span,
.main-section-two-text p span {
  color: var(--primary);
}

.main-section-text h1 {
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
}

.main-section-text h1 span {
  color: var(--primary);
}

.main-section-text p {
  text-indent: 1.5rem;
  font-weight: 400;
  line-height: 2;
  font-size: 1.5rem;
  text-align: justify;
  margin-left: 0;
}

/* main-section-two */

.main-section-two {
  display: flex;
  flex-direction: row-reverse;
  /* background-color: aqua; */
  margin-top: 20rem;
  /* padding-top: 5rem; */
  padding-bottom: 0;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: -9rem;
}

.main-section-two-img {
  /* background-color: #ffd700; */
  padding-left: 2rem;
}

.second-photo {
  width: 100%;
  height: 70%;
  object-fit: contain;
  padding-top: 2rem;
  /* background-color: antiquewhite; */
  -webkit-transform: rotate(-5deg);
}

.main-section-two-text {
  padding: 5rem 5% 0;
  /* background-color: blueviolet; */
}

.main-section-two-text h1 {
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
}

.main-section-two-text h1 span {
  color: var(--primary);
}

.main-section-two-text p {
  text-indent: 1.5rem;
  font-weight: 400;
  line-height: 2;
  font-size: 1.5rem;
  text-align: justify;
  margin-left: 0;
}

/* teaser */

.teaser {
  text-align: center;
  /* background-color: burlywood; */
}

.teaser h2 {
  padding-top: 1rem;
}

.teaser h2 span {
  color: var(--primary);
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: -1rem;
}

.teaser h3 {
  font-weight: 400;
}

.teaser-para {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.perfume-card h3 {
  font-weight: 500;
}

.perfume-card-title {
  margin-bottom: 0.5rem;
}

.perfume-card img {
  border-radius: 50%;
  object-fit: cover;
  width: 80%;
  padding: 0.5rem 0;
  margin: 3rem 0 0;
}

.more {
  width: 50%;
  border: 1px solid rgb(229, 225, 225);
}

/* maps */
.row-maps {
  display: flex;
  padding-top: 3.5rem;
}

.map {
  padding: 0 1.5rem;
}

/* .about {
  background-color: beige;
} */

.find-us h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.find-us h2 span {
  color: var(--primary);
}

.find-us p {
  text-align: center;
  margin-bottom: 1rem;
}

/* about*/
.about h2 {
  margin-top: -1rem;
}

.about h2 span {
  color: var(--primary);
}

.about p {
  font-weight: 400;
  font-size: 1rem;
  text-align: justify;
  padding: 0 5%;
  text-indent: 1rem;
}

/* Products */

.product-section {
  text-align: center;
  /* background-color: burlywood; */
  margin-top: 1rem;
}

.product-section h2 span {
  color: var(--primary);
}

.product-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: -1rem;
}

.product h3 {
  font-weight: 400;
}

.product-para {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.product-card h3 {
  font-weight: 500;
}

.product-card-title {
  margin-bottom: 0.5rem;
}

.product-card img {
  border-radius: 50%;
  object-fit: cover;
  width: 80%;
  /* height: 50%; */
  padding: 0.5rem 0;
  margin: 3rem 0 0;
}

.out-of-stock {
  color: red;
  margin-top: 0.5rem;
}

.second-p {
  margin: 0 0 0.5rem;
  font-weight: 600;
}

/* .slash {
  text-decoration: line-through red;
  -webkit-text-decoration: line-through red;
  margin: 0 0 0.5rem;
} */

.discount {
  font-weight: 600;
}

/* Footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0.3rem;
  margin-top: 3rem;
}

.socials img {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
}
/* footer .socials a {
  color: #fff;
  margin: 1rem;
} */

footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin: 1.4rem 0;
}

footer .links a {
  color: rgb(114, 111, 111);
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Media Queries  */

/* Laptop */

@media (min-width: 1366px) {
  html {
    font-size: 100%;
    /* padding-top: 0; */
  }
  .main-section-two {
    margin-top: 0;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 100%;
    /* padding-top: 0; */
  }

  .main-section-two {
    margin-top: 0;
  }

  /* latest */
  .first-photo {
    -webkit-transform: rotate(5deg);
  }
}

/* Tablet */

@media (max-width: 1280px) {
  html {
    font-size: 100%;
  }
  .main-section-two {
    margin-top: 0;
  }
  .main-section-two-img {
    padding-top: 5rem;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 100%;
  }
  .main-section-two {
    /* background-color: #ffd700; */
    margin-top: 0;
  }
  .main-section-two-img {
    padding-top: 5rem;
  }
  .teaser {
    margin-top: 7rem;
  }
}

@media (max-width: 912px) {
  html {
    font-size: 100%;
  }
  .main-section-two {
    /* background-color: #ffd700; */
    margin-top: 0;
  }
  .main-section-two-img {
    padding-top: 5rem;
  }

  .teaser {
    /* background-color: #ffd700; */
    margin-top: 10rem;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 100%;
  }
  .main-section-two {
    /* background-color: #ffd700; */
    margin-top: 0;
  }

  .main-section-two-img {
    padding-top: 7rem;
  }

  .teaser {
    /* background-color: #ffd700; */
    margin-top: 8rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 100%;
    /* padding: 0 1rem; */
  }

  .nav-branding {
    font-size: 5rem;
    /* background-color: #ffd700; */
    margin-bottom: -5.1rem;
  }

  .hamburger {
    display: block;
    /* background-color: aqua; */
    margin-bottom: -5.1rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 110px;
    gap: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #ffd700; */
    margin-top: 0;
    margin-right: 0;
  }

  /* .nav-branding {
    background-color: #ffd700;
  } */
  /* main-section tablet */

  .main-section {
    flex-wrap: wrap;
    /* background-color: #ffd700; */
    width: 100%;
    height: 70%;
    margin-top: 1rem;
  }

  .main-section-two {
    /* background-color: blue; */
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: 3.5rem;
  }

  .main-section-text {
    /* background-color: #ffd700; */
    margin-top: -25rem;
  }
  /* 
  .main-section-two-text {
    margin-top: -12rem;
  } */

  .main-section-text h1 {
    padding-top: 5rem;
  }

  .main-section-img {
    /* background-color: chartreuse; */
    padding: 0 0 1rem;
    margin-top: 0.7rem;
    margin-bottom: -17rem;
  }

  .main-section-two-img {
    padding: 2rem 0;
    margin-bottom: -15rem;
  }
  .first-photo {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 70%;
    object-fit: contain;
    -webkit-transform: rotate(0);
  }

  .main-section-text {
    /* background-color: aqua; */
    padding-top: 7rem;
  }

  .main-section-text p {
    font-weight: 400;
    font-size: 1.2rem;
  }

  /* main-section-two*/

  .second-photo {
    -webkit-transform: rotate(0);
  }

  .main-section-two-text h1 {
    margin-top: -6rem;
  }

  /* teaser tablet */

  .teaser {
    /* background-color: aquamarine; */
    margin-top: rem;
  }
  /* 
  .teaser-tagline {
 
    margin-top: -38rem;
  } */

  .row {
    margin-top: 2rem;
  }

  .teaser p {
    font-size: 1.2rem;
  }

  .perfume-card {
    padding: 1rem 0;
    margin-bottom: 2rem;
  }

  .perfume-card img {
    margin-top: -1rem;
  }

  /* find us tablet */

  .find-us {
    margin-top: -3rem;
    padding: 0 5%;
  }

  .find-us h2 {
    padding-bottom: 0.5rem;
  }

  .find-us p {
    text-align: justify;
    padding: 0 1rem;
  }

  .row-maps {
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    padding-top: 0.5rem;
  }

  .map {
    width: 100%;
    padding-bottom: 1rem;
  }

  /* about tablet */

  .about {
    padding-top: 2rem;
  }

  .about h2 {
    padding-bottom: 0.5rem;
  }

  .about-para {
    font-weight: 400;
  }

  /* Products tablet */
  .product-section {
    /* background-color: aquamarine; */
    margin-top: 7rem;
    padding-top: 1rem;
  }

  .row {
    margin-top: 2rem;
  }

  /* teaser tablet */

  .teaser {
    /* background-color: aqua; */
    margin-top: 13rem;
  }

  .teaser p {
    font-size: 1.2rem;
  }

  .perfume-card {
    padding: 1rem 0;
    margin-bottom: 2rem;
  }

  .perfume-card img {
    margin-top: -1rem;
  }

  /* Footer tablet*/

  .footer {
    margin-top: 1rem;
  }
}

/* Phone */
@media (max-width: 540px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 3.7rem;
  }
  .main-section-two {
    /* background-color: #ffd700; */
    padding-top: 0;
  }
  .main-section-two-text {
    /* background-color: aqua; */
    padding-top: 10rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 100%;
  }

  .nav-branding {
    font-size: 3rem;
  }

  .hamburger {
    display: block;
    /* background-color: aqua; */
    margin-bottom: -5.1rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 110px;
    gap: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
    z-index: 100;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #ffd700; */
    margin-top: 0;
    margin-right: 0;
  }

  /* main-section phone */

  .main-section {
    flex-wrap: wrap;
    /* background-color: #ff9d00; */
    width: 100%;
    height: 70%;
    margin-top: 1%;
  }

  .main-section-text {
    /* background-color: #ffd700; */
    margin-top: -5rem;
  }

  .main-section-text h1 {
    padding-top: 0;
  }

  .main-section-img {
    /* background-color: chartreuse; */
    padding: 0 0 1.7rem;
    margin-top: 1.3rem;
    margin-bottom: -13rem;
  }

  .first-photo {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 70%;
    object-fit: contain;
    rotate: none;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .main-section-text p {
    font-weight: 400;
    font-size: 1.2rem;
    /* background-color: aqua; */
  }

  /* main section two */

  .main-section-two {
    /* background-color: #ffd700; */
    margin-top: 2.1rem;
    padding-top: 0;
  }

  .main-section-two-text {
    /* background-color: aqua; */
    margin-top: 0;
    /* padding-top: 10rem; */
  }

  /* teaser phone */

  .teaser {
    /* background-color: aquamarine; */
    margin: 45% 0 0;
    /* padding: 1rem 0 0 0; */
  }

  .row {
    margin-top: 0;
    /* background-color: antiquewhite; */
  }

  .teaser-tagline {
    /* background-color: #ffd700; */
    margin-top: 1rem;
  }

  .teaser p {
    font-size: 1.2rem;
  }

  .perfume-card {
    padding: 1rem 0;
    margin-bottom: 2rem;
  }

  .perfume-card img {
    margin-top: -1rem;
  }

  /* product phone */
  .tagline {
    /* background-color: #ffd700; */
    margin-top: -4rem;
  }

  /* find us phone */
  /* 
  .find-us {
    background-color: #ffd700;
  } */

  .find-us h2 {
    padding-bottom: 0.5rem;
  }

  .find-us p {
    text-align: justify;
    padding: 0 1rem;
  }

  .row-maps {
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    /* margin-top: 1.5rem; */
    padding-top: 0.5rem;
  }

  .map {
    width: 100%;
    padding-bottom: 1rem;
  }

  /* about phone */

  .about {
    padding-top: 2rem;
  }

  .about h2 {
    padding-bottom: 0.5rem;
  }

  .about-para {
    font-weight: 400;
  }

  /* Footer phone*/
  .footer {
    margin-top: 1rem;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 100%;
  }

  .nav-branding {
    font-size: 2.7rem;
  }
  .nav-menu.active {
    left: 0;
    z-index: 100;
    margin-top: 1rem;
  }
}

/*
@media (max-width: 412px) {
  html {
    font-size: 100%;
  }
  .main-section-two-text {
    padding-top: 11rem;
  }
}
*/

@media (max-width: 393px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 2.6rem;
  }
  /* .main-section-two-text {
    padding-top: 11rem;
  } */
}

@media (max-width: 390px) {
  html {
    font-size: 100%;
  }

  .nav-branding {
    font-size: 2.6rem;
  }

  /* .main-section-two-text {
    padding-top: 12rem;
  } */
}

@media (max-width: 375px) {
  html {
    font-size: 100%;
  }
  .nav-menu.active {
    left: 0;
    z-index: 100;
    margin-top: 1rem;
  }

  .nav-branding {
    font-size: 2.5rem;
  }
  /* .main-section-two {
    background-color: #ffd700;
  } */
  /* 
  .main-section-two-text {
    margin-top: 1rem;
  } */

  /* .teaser {
    margin-top: 15rem;
  } */
}

/* Phone Galaxy S8+*/
@media (max-width: 360px) {
  html {
    font-size: 100%;
  }

  .nav-branding {
    padding-top: 1rem;
    font-size: 2.3rem;
  }
  .nav-menu.active {
    left: 0;
    z-index: 100;
    margin-top: 1.5rem;
    /* background-color: #ffd700; */
  }
}
/* 
  .main-section {
    margin-top: 3rem;
  }

  .main-section-two-text {
    padding-top: 5rem;
  } */

/* .main-section-img {
    background-color: #ffd700;
    padding-top: 0;
  } */
/* 
  .hamburger {
    padding-top: 0.8rem;
  }

  .main-section-text {
    margin-top: -5rem;
  }
} */
/* product */

@media (max-width: 280px) {
  html {
    font-size: 100%;
  }

  .nav-branding {
    font-size: 1.7rem;
  }
  .main-section-two-text {
    /* background-color: #ffd700; */
    margin-top: 5rem;
  }
}

/* Breakpoint */

@media (min-width: 540px) and (max-width: 696px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 3.5rem;
  }
}

@media (min-width: 451px) and (max-width: 528px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 3rem;
  }
}

@media (min-width: 415px) and (max-width: 437px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 2.3rem;
  }
}

@media (min-width: 394px) and (max-width: 399px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 2.3rem;
  }
}

@media (min-width: 376px) and (max-width: 386px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 2.3rem;
  }
}

@media (min-width: 361px) and (max-width: 373px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 2.3rem;
  }
}

@media (max-width: 347px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 2.2rem;
  }
}

@media (max-width: 334px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 2rem;
  }
}

@media (max-width: 308px) {
  html {
    font-size: 100%;
  }
  .nav-branding {
    font-size: 1.7rem;
  }
}

/* Landscape */

/* @media (max-width: 1368px) and (orientation: landscape) {
  html {
    font-size: 100%;
  }

  .main-section-two {
    margin-top: -5rem;
  }
} */

/* @media (max-width: 851px) and (orientation: landscape) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 844px) and (orientation: landscape) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 720px) and (orientation: landscape) {
  html {
    font-size: 100%;
  }
} */
